.siteBody {
  display: flex;
}

.siteBody a {
  position: relative;
  width: 33.33%;
  margin-top: 0.5rem;
}

.siteBody img {
  width: 100%;
  max-width: 100%;
  height: 500px;
  transition: all 0.3s;
}

.siteBody .textPic,
.textPic3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  width: 80%;
  text-decoration: none;
  color: rgb(255, 0, 0);
  text-align: center;
  font-weight: bold;
  transition: all 0.3s;
  padding: 0.5rem;
}

.textPic3 {
  width: 50%;
}

.siteBody a:hover img {
  transform: scale(1.03);
}

.siteBody a:hover {
  z-index: 1;
}

.siteBody a:hover .textPic,
a:hover .textPic3 {
  color: #f60000;
  border: 2px solid black;
  background-color: var(--bgPink);
}
